@import "../resources/fonts/font-awesome-4.7.0/scss/font-awesome";
@import "./variables";

@font-face {
    font-family: "Novecento";
    src: url('../resources/fonts/Novecentosanswide-Book.otf') format('opentype');
}

@font-face {
    font-family: "Novecento Bold";
    src: url('../resources/fonts/Novecentosanswide-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Museo";
    src: url('../resources/fonts/Museo300-Regular.ttf') format('truetype');
    font-weight: 300;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@import "./components/App";
@import "./components/Dashboard";
@import "./components/Gallery";
@import "./components/Graphs";
@import "./components/Map";
@import "./components/Settings";
@import "./components/Sidebar";
@import "./components/Terminal";
