@import "../resources/fonts/font-awesome-4.7.0/scss/font-awesome";
@import "./variables";

@font-face {
    font-family: "Novecento";
    src: url('../resources/fonts/Novecentosanswide-Book.otf') format('opentype');
}

@font-face {
    font-family: "Novecento Bold";
    src: url('../resources/fonts/Novecentosanswide-Bold.otf') format('opentype');
}

body {
    margin: 0;
    background-image: url('../resources/images/nebula.png');
    background-size: cover;
    background-attachment: fixed;
}

@import "./components/App";
@import "./components/Dashboard";
@import "./components/Gallery";
@import "./components/Graphs";
@import "./components/Map";
@import "./components/Settings";
@import "./components/Sidebar";
@import "./components/Terminal";