#dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .AltWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Altitude {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 80%;
    }

    #RelativeAltitude {
        font-family: novecento;
        font-size: 15vh;
        display: flex;
    }

    #Estimate {
        display: flex;
        margin-top: -3em;
        font-size: 4vh;
    }

    .values {
        display: flex;
        flex-direction: row;
        margin: 40px;
        padding: 20px;
        background: rgba(255, 255, 255, .9);

        div{
            width: 48%;
            min-height: 10em;
            text-align: center;
        }
    }
}