#sidebar {
    background-color: #DDD;
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: $sidebar-collapsed-width;
    &.expanded {
        width: $sidebar-expanded-width;
        label {
            display: initial !important;
        }
    }
    transition: width $sidebar-transition-duration;
    .navbar {
        list-style: none;
        padding: 0;
        margin: 0;
        section {
            position: absolute;
            width: 100%;
            li {
                cursor: pointer;
                a {
                    height: 48px;
                    line-height: 48px;
                    display: block;
                    text-decoration: none;
                    font-family: Novecento;
                    font-weight: 600;
                    color: black;
                    position: relative;
                    i.fa {
                        font-size: 1.75em;
                        height: 42px;
                        width: 42px;
                        padding: 0;
                        margin: 0;
                        position: absolute;
                        top: 0;
                        left: 0;

                        &::before {
                            position:absolute;
                            left: 8px;
                            top: 8px;
                            width: 32px;
                        }
                    }
                    label {
                        cursor: pointer;
                        display: none;
                        margin-left: $sidebar-collapsed-width + 10px;
                        transition: display $sidebar-transition-duration / 2;
                    }
                }

                &:hover {
                    background: #CCC;
                }

                &.pressed {
                    animation: button-3d-click 0.2s;
                }

                &.active {
                    animation-iteration-count: 1;
                    position: relative;
                    a {
                        color: $sidebar-active-color;
                    }
                    &::before {
                        position: absolute;
                        display: block;
                        left: 0;
                        top: 4px;
                        height: 40px;
                        width: 4px;
                        background: $sidebar-active-color;
                        content: "";
                    }
                }
            }
            &.core {
                top: 60px;
            }
            &.bottom {
                bottom: 0;
            }
        }
    }
}

#detail {
    margin-left: $sidebar-expanded-width;
    &.expanded {
        margin-left: $sidebar-collapsed-width !important;
        &::before {
            left: $sidebar-collapsed-width !important;
        }
    }
    transition: margin-left $sidebar-transition-duration;
    display: flex;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;

    &::before {
        position: fixed;
        width: 100vw;
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        background-color: white;
        left: $sidebar-expanded-width;
        content: "";
    }
}

@keyframes button-3d-click {
    from {
        transform: rotateX(0) rotateZ(0);
    }
    15% {
        transform: rotateX(45deg) rotateZ(45deg);
    }
    85% {
        transform: rotateX(45deg) rotateZ(45deg);
    }
    to {
        transform: rotateX(0) rotateZ(0);
    }
}